<%- include("header"); -%>
<div class="box" id="heading">
    <h1>welcome to About Page</h1>
</div>
<p>I am Niraj Modi a 2nd year Btech Student from Asansol Engineering College</p>
<%- include("footer"); -%>